body{
    
    margin: 0 auto;
    padding: 0;
    width: 100vw;

}
.container{
    font-family: monospace;
    background-image: url("login.jpg");
    
    background-size: cover;
    background-attachment: scroll;
    
    height: 100vh;
    overflow: hidden;
    opacity: .9;
}

.center{
    position: absolute;
    top:50%;
    left:50%;
    box-shadow: 15px 15px rgba(0,0,0,.4);
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    background: whitesmoke;
    border-radius: 10px;
}

.center h1{
    margin-top: 0%;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 2px solid silver;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    
    border-bottom: 2px solid #adadad;
    margin: 40px 0;
}
.txt_field input{
    width:100%;
    padding: 0 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field lable{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
}
.txt_field input:focus lable,
.txt_field input:valid lable{
    top: -5px;
    color: #2691d9;
}
input[type="submit"]{
    width: 100%;
    margin-bottom: 20px;
    height: 60px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #2691d9;
   
}
.avatar {
    text-align:center ;
   
}
img{
    border-radius: 50%;
    margin-top: -27px;
}



